.form {
  display: flex;
  gap: 15px;
}
.input {
  width: 400px;
  padding: 0 30px;
  color: #f9f9f9;
  font-size: 18px;
  background: #252525;
  border: 1px solid #505050;
  border-radius: 10px;
  outline: none;
  height: 50px;
}
.button {
  height: 50px;
  line-height: 50px;
  width: 100px;
  border-radius: 10px;
  background: #e1e1e1;
  color: #1f1f1f;
  font-weight: 700;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
