.button {
  padding: 16px;
  color: #f9f9f9;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background: #505050;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
}
